# Build artifacts
/MathBridgeSystem.Domain/obj
/MathBridgeSystem.Domain/bin
/MathBridgeSystem.Application/obj
/MathBridgeSystem.Application/bin
/MathBridgeSystem.Api/obj
/MathBridgeSystem.Api/bin
/MathBridgeSystem.Infrastructure/obj
/MathBridgeSystem.Infrastructure/bin
/publish
*.cache
*.dll
*.pdb

# IDE files
/.serena
/.idea
*.editorconfig

# Project files
/SePayExample
Mathbridge.sql

# Sensitive config files
mathbridge-2874f-firebase-adminsdk-fbsvc-b0590ad464.json
smtpconfig.json
MathBridgeSystem.Api/appsettings.json
/database_scripts
MathBridgeSystem.Api/mathbridge_firebase.json
MathBridgeSystem.Api/appsettings.json
/.vs/MathBridgeSystem
*.py
ProjectOverview.md
MathBridgeSystem.Api/oauth_credentials.json
MathBridgeSystem.Api/GoogleMeetTokenCache/Google.Apis.Auth.OAuth2.Responses.TokenResponse-mathbridge-user
MathBridgeSystem.Api/mathbridge-472209-0cb30f3ae46b.json
/MathBridgeSystem.Test/bin
/MathBridgeSystem.Test/obj
IMPLEMENTATION_SUMMARY_LOW_PRIORITY_ENTITIES.md
