
/.serena
/MathBridgeSystem.Domain/obj
/MathBridgeSystem.Application/obj
/MathBridgeSystem.Api/obj
/MathBridgeSystem.Infrastructure/obj
/SePayExample
/.idea
Mathbridge.sql
/MathBridgeSystem.Infrastructure/bin
/MathBridgeSystem.Infrastructure/obj
/MathBridgeSystem.Infrastructure/obj
/MathBridgeSystem.Domain/bin
/MathBridgeSystem.Application/obj
/MathBridgeSystem.Api/obj
/MathBridgeSystem.Api/bin
/MathBridgeSystem.Application/bin
/MathBridgeSystem.Infrastructure/obj
/MathBridgeSystem.Domain/obj
/MathBridgeSystem.Application/obj
